@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

:root {
 --bg-body: #0F0F0F;
 --color-header-h1: #FFFFFF;
 --color-header-a: #D1D1D1;
 --bg-line: #4D4D4D;
 --color-p-biography: linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%);

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  height: auto;
  min-width: 80vw;
  background-color: var(--bg-body);
  margin: auto;
  padding: 2rem 8rem;
}
